.Container{
    display: block;
    margin-top: 10px;
    border-radius: 10%;
    text-align: center;
    font-family:  Monotype Corsiva;
    max-width: 350px;
    margin: 150px auto;
    border: 5px solid #0c0909;
    height: 700px;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQELTlYuV3GJEdtOdHyUgElV_QMOqr8fj1s_Ry0mJvVawfHzZAv&usqp=CAU);
    opacity: 0.9;
} 
.Header{
    margin-top: 50px;
}
.Input{
    margin-bottom: 20px;
    height: 25px;
}
.list_item{
    background-color:rgb(254, 255, 227);
    text-align: center;
    margin: 1px;
    opacity: 0.9;
   
}
.contact_list{
    display: block;
    margin-left: auto;
    margin-right: 35px;
    list-style-type: none;
    
}
.Err{
    margin: 100px;
}
.checkbox{
    justify-content: space-between;
    margin: 5px 5px 0px 30px;
}
.Gend_text{
    font-family: Arial;
}
body{
    background: url(https://previews.123rf.com/images/alicjane/alicjane1802/alicjane180200251/96431714-grey-background-of-stone-texture-with-blank-surface.jpg) no-repeat;
    -webkit-background-size: 100%;
}